@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f1f5f8;
  color: #102a42;
  font-family: "Open Sans", sans-serif;
}
.title {
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0 0.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 3rem;
}
.card {
  display: inline-block;
  width: 45vw;
  box-shadow: 0px 0px 14px 1px rgba(22, 15, 15, 0.2);
  margin: 2rem 0 0;
  background: #fff;
}
.card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.card .mb {
  margin: 1rem 2rem;
}
.card-name {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}
.card-title {
  font-size: 1.25rem;
}
.card-price {
  color: #49a6e9;
  background: #ebf7ff;
  padding: 0.25rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
}
.article {
  opacity: 80%;
}
.btn {
  padding: 0.5rem 3rem;
  font-size: 1rem;
  border: 1px solid #d7385e;
  background: #fff;
  color: #d7385e;
  cursor: pointer;
}
.readmore-btn {
  border: none;
  color: #49a6e9;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}
